.metronome-container {
    width: 75%;
    height: 80px;
    background-color: #ffcad4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: center;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-left: 10%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.tempo-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    padding: 8px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ff9aa2;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #f76c82;
}

#play-button {
    width: 50px;
    height: 50px;
}

.play {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #333;
}

.pause {
    width: 15px;
    height: 30px;
    border: none;
    border-left: 10px solid #333;
    border-right: 10px solid #333;
}

.beat-box{
    height:50px;
    width: 10px;
}

.middle-container{
    display:flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 100px 100px 100px 100px;

}
.middle-container div{
    position: center;
    margin: 10px;
    justify-content:space-around;
}

.middle-container div button{
    height: 100px;
    width: 100px;
    border-radius:0px;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
